body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    padding: 16px;
}
footer {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(76, 206, 76);
    margin-top: auto;
}
img {
    height: 200px;
    width: 200px;
}
nav {
    border-color: black;
    border-bottom: 1px;
    padding: 16px;
    color: white;
}
header {
    background-color: rgb(255, 98, 25);
}
nav a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
h1 {
    color: rgb(48, 107, 101);
}
.grid-item {
    display: grid;
    grid-template-columns: 1fr;
}
tr:nth-child(even) {
    background-color: lightgray;
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
